<!DOCTYPE html>
<link rel="stylesheet" href="/static/assets/css/login.css" />
<link rel="stylesheet" href="/static/assets/css/fonts.css" />
<link rel="stylesheet" href="/static/assets/css/shared.css" />
<script src="/static/assets/js/login.js"></script>
<script type = "text/javascript" scr="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


<body>
    <div id="login-container" class="bounded-padding">
        <h3 class="text-center">Login</h3>
        <br />
        <div id="login-form" class="center">
            <p class="text-left">User Name</p>
            <input type="input" id="user-name-input" class="entry-box"/>
            <p class="text-left">Password</p>
            <input type="password" id="password-input" class=""/>
            <br />
            <input type="submit" value="Submit" class="btn btn-primary" id="submit-btn" onclick="submitLoginInfo()"/>
        </div>
    </div>
</body>