<link rel="stylesheet" href="/static/assets/css/login.css" />
<link rel="stylesheet" href="/static/assets/css/fonts.css" />
<link rel="stylesheet" href="/static/assets/css/shared.css" />
<script src="/static/assets/js/login.js"></script>


<body>
    <div id="login-container" class="bounded-padding">
        <h3 class="text-center">Login</h3>
        <br />
        <div id="login-form" class="center">
            <p class="text-left">User Name</p>
            <input type="input" id="user-name-input" class="entry-box"/>
            <p class="text-left">Password</p>
            <input type="password" id="password-input" class=""/>
            <br />
            <input type="submit" value="Submit" class="btn btn-primary" id="submit-btn" onclick="submitLoginInfo()"/>
        </div>
    </div>
</body>